<div id = 'editPage'>

  <form action="/painting/<%= @painting.id %>/edit" method = "post">
    <input type="hidden" name="_method" value="put">

  <ul>
    <li>
      <label for="">title</label>
      <input type="text" name = "title" value ="<%= @painting.title%>">
   </li>
   <li>
      <label for="">image url</label>
      <input type="text" name = "img_url" value = "<%= @painting.img_url%>">
    </li>
    <li>
      <label for="">author</label>
      <input type="text" name = "author" value ="<%= @painting.author%>">
    </li>
    <li>
      <label for="">century</label>
      <input type="text" name = "century" value ="<%= @painting.century%>">
    </li>
    <li>
      <label for="">style</label>
      <input type="text" name = "style" value = "<%= @painting.style%>">
    </li>
    <li>
      <label for="">seen live ?</label>
      <input type="text" name = "seen_live" value ="<%= @painting.seen_live%>">
    </li>
    <li>
      <label for="">city</label>
      <input type="text" name = "city" value ="<%= @painting.city%>">
    </li>
    <li>
      <label for="">museum</label>
      <input type="text" name = "museum" value ="<%= @painting.museum%>">
  </ul>

    <button>update</button>
  </form>

</div>
