
<div id = 'myAlbumSection'>

  <%if logged_in?%>

    <a  href="/create">create new position</a>

    <form action="/results" method = "get">
      <input type="text" placeholder = "painting title"  name = "painting_search" >
      <button id = "search">search painting</button>
    </form>

    <form action="/session" method = "post">
      <input type="hidden" name ="_method" value = 'delete'>
      <button>logout</button>
    </form>

  <%end%>

</div>



<div id = 'myAlbumGallery'>

    <% @paintings.each do |painting| %>
      <h2> <a href="/painting_detail/<%= painting.id %>"> <%= painting.title %> </a> </h2>
      <a href="/painting_detail/<%= painting.id %>"> <img src = " <%= painting.img_url %> "> </a>



      <form action="/painting/<%=painting.id%>/likes" method = "post">
        <input type="hidden" name ="_method" value = 'put'>
        <h5>Likes: <%= painting.likes.count %></h5>
        <button onclick = "this.style.backgroundColor='blue' ">Like</button>
      </form>

    <% end %>


</div>
