
<div id = 'myAlbumSection'>

  <%if logged_in?%>
    <a  id = "createPosition" href="/create">create new Position</a>
    <form action="/results" method = "get">
      <input class = "searchInput" placeholder = "painting title"  name = "painting_search" >
      <button id = "search">search</button>
    </form>
  <%end%>

</div>



<div id = 'myAlbumGallery'>

    <% @paintings.each do |painting| %>
      <div class="allPaintings">
        <h4><a class = 'painTitlealbum' href="/painting_detail/<%= painting.id %>"> <%= painting.title %> </a></h4>
        <br>
        <a href="/painting_detail/<%= painting.id %>"> <img id = 'albumPageGallery' src = " <%= painting.img_url %> "> </a>

        <form action="/painting/<%=painting.id%>/likes" method = "post">
          <input type="hidden" name ="_method" value = 'put'>
          <h5 id='likes_album'><%= painting.likes.count %></h5>
          <button id = 'likebtn' onclick = "this.style.backgroundColor='lightgrey' ">Like</button>
        </form>
      </div>
    <% end %>


</div>
