
<div id="ptgImgWrapper">

  <img id="paintingImage"src = "<%= @painting.img_url %> ">

</div>



<div id = "ptgDetailWrapper">

    <div id = "description">
      <h2 id = "title"> <%= @painting.title %> </h2>
      <h2> Author: <%= @painting.author %> </h2>
      <h2> Century: <%= @painting.century %> </h2>
      <h2> Style: <%= @painting.style %> </h2>
      <h2> Seen live: <%= @painting.seen_live %> </h2>
      <h2> City: <%= @painting.city %> </h2>
      <h2> Museum: <%= @painting.museum %> </h2>

      <div id = "googLocation">
        <h6>Coordinates: <%=@painting.latitude%> * <%=@painting.longitude%></h6>
        <img id = "map" src="https://maps.googleapis.com/maps/api/staticmap?center=<%=@painting.latitude%>,<%=@painting.longitude%>&zoom=12&size=250x250&style=feature:road.local|element:labels|color:0xffffff&key=AIzaSyA4uVG3OqwRc6lvImkq8wBNkQUE2mu7CSM">
      </div>
    </div>

    <div id = "comments">
      <ul>
        <%if logged_in? && @painting.user_id == current_user.id %>
          <li>
            <a id = "ediPaintingBtn" href="/painting/<%= @painting.id %>/edit"> edit </a>
          </li>
          <li>
            <form action="/painting/<%= @painting.id %>" method = "post">
              <input type="hidden" name = "_method" value ="delete">
              <button id = "deletePainting">delete</button>
            </form>
          </li>
        <%end%>
      </ul>



      <%if logged_in? %>

         <form action="/painting/<%= @painting.id %>" method="post">
            <textarea type="text" maxlength="500"  name = "comment" ></textarea>
            <button class = "signupSig">comment</button>
         </form>

         <% @all_comments.each do |comment| %>
             <ul id ="comWrapper">
               <li>
                 <h6> author: user <%=comment.user_id %> </h6>
                 <h3> <%= comment.comment %> </h3>
               </li>
               <li>
                 <%if comment.user_id == current_user.id ||  @painting.user_id == current_user.id%>
                   <form action="/paintings/delete/<%= comment.id %>" method = "post">
                     <input type="hidden" name = "_method" value ="delete">
                     <button class = "signupSig">delete comment</button>
                   </form>
                 <%end%>
               </li>
               <li>
                 <%if comment.user_id == current_user.id %>
                   <form action="/paintings/update_comment/<%= comment.id %>" method = "post">
                     <input type="hidden" name="_method" value="put">
                       <li><input type="text" name = "comment" value ="<%= comment.comment %>"></li>
                     <button class = "signupSig">Edit comment</button>
                   </form>
                 <%end%>
               </li>
            </ul>
        <%end%>

      <%end%>
    </div>

</div>
