
<div id = 'paintDetBanner'>
  <%if logged_in?%>

  <form action="/session" method = "post">
    <input type="hidden" name ="_method" value = 'delete'>
    <button>logout</button>
  </form>
  <%end%>
</div>

<img src = "<%= @painting.img_url %> ">
<h2> Title: <%= @painting.title %> </h2>
<h2> Author: <%= @painting.author %> </h2>
<h2> Century: <%= @painting.century %> </h2>
<h2> Style: <%= @painting.style %> </h2>
<h2> Seen live: <%= @painting.seen_live %> </h2>
<h2> City: <%= @painting.city %> </h2>


<div id = 'googLocation'>
  <h6>Map</h6>
  <p><%=@location%></p>
  


</div>



<%if logged_in? && @painting.user_id == current_user.id %>
  <a href="/painting/<%= @painting.id %>/edit"> edit </a>

  <form action="/painting/<%= @painting.id %>" method = "post">
    <input type="hidden" name = "_method" value ="delete">
    <button>delete</button>
  </form>

<%end%>



<%if logged_in? %>
   <form action="/painting/<%= @painting.id %>" method="post">
      <textarea type="text" maxlength='500'  name = "comment" ></textarea>
      <button>Add comment</button>
   </form>

   <% @all_comments.each do |comment| %>
     <p> author: user <%=comment.user_id %> </p>
     <p> <%= comment.comment %> </p>

     <%if comment.user_id == current_user.id %>
       <form action="/paintings/update_comment/<%= comment.id %>" method = "post">
         <input type="hidden" name="_method" value="put">
           <input type="text" name = "comment" value ="<%= comment.comment %>">
         <button id = "edit">edit comment</button>
       </form>
     <%end%>

     <%if comment.user_id == current_user.id ||  @painting.user_id == current_user.id%>
       <form action="/paintings/delete/<%= comment.id %>" method = "post">
         <input type="hidden" name = "_method" value ="delete">
         <button id = "delete">delete comment</button>
       </form>
     <%end%>

  <% end %>
<% end %>
