<img src = " <%= @paint.img_url %> ">

<h2> Title:  <%= @paint.title %> </h2>
<h2> Author: <%= @paint.author %> </h2>
<h2> Century:  <%= @paint.century %> </h2>
<h2> Style: <%= @paint.style %> </h2>
<h2> Seen live: <%= @paint.seen_live %> </h2>
<h2> City: <%= @paint.city %> </h2>
<h2>  Museum: <%= @paint.museum %> </h2>
